<div class="activity-item">
  <div class="activity-item-remove">
    <fa-icon [icon]="icons.time"></fa-icon>
  </div>
  <div class="activity-item-image"></div>
  <div class="activity-item-content">
    <div class="content-name">
      John Stainlor
      <div class="action">commented</div>
    </div>
    <div class="content-main">
      Well, I am liking it how it captures the audio
    </div>
    <div class="content-footer">
      <fa-icon [icon]="icons.comment"></fa-icon>
      <div class="timestamp">2 seconds ago</div>
    </div>
  </div>
</div>