<footer>
  <div class="footer-socmed">
    <ul>
      <li>
        <a href="https://twitter.com" target="_blank">
          <fa-icon [icon]="icons.twitter"></fa-icon>
        </a>
      </li>
      <li>
        <a href="https://linkedin.com" target="_blank">
          <fa-icon [icon]="icons.linkedin"></fa-icon>
        </a>
      </li>
      <li>
        <a href="https://facebook.com" target="_blank">
          <fa-icon [icon]="icons.facebook"></fa-icon>
        </a>
      </li>
    </ul>
  </div>

  <div class="footer-link">
    <ul class="menu-link">
      <li><a href="">About</a></li>
      <li><a href="">For Business</a></li>
      <li><a href="">Suggestion</a></li>
      <li><a href="">Help & FAQs</a></li>
      <li><a href="">Contacts</a></li>
      <li><a href="">Pricing</a></li>
    </ul>
  </div>

  <div class="footer-copyright">
    <div class="footer-copyright-content">
      &copy; Copyright 2013 companyname inc.
    </div>
    <ul class="menu-link">
      <li><a href="">Privacy</a></li>
      <li><a href="">Terms</a></li>
    </ul>
  </div>
</footer>