nav {
  border: solid 2px var(--primary-color);
  border-right: 0;
  border-left: 0;

  ul {
    list-style-type: none;
    padding: 0;

    li {
      display: inline-block;
      position: relative;

      &:not(&:last-child) {
        margin-right: 3rem;

        &::after {
          content: '/';
          color: var(--primary-color);
          position: absolute;
          right: -1.5rem;
        }
      }

      a {
        text-decoration: none;
        color: var(--primary-color);
      }
    }
  }
}
