.content-section {
  margin-bottom: 2rem;

  &-header {
    margin-bottom: 1rem;
    color: var(--primary-color);
    width: calc(100% - (100% / 3));
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    .header {
      &-content {
        font-size: 1.5rem;
      }

      &-link {
        font-size: 0.85rem;
        padding-right: 0.25rem;
        font-weight: normal;
      }
    }
  }

  main-wrapper {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 175px;

    main-item {
      background-color: var(--primary-color);
      display: flex;
      padding: 0.5rem;
      flex-direction: column;
      justify-content: flex-end;
      font-size: 0.95rem;
      color: var(--bg-color);

      .main-item {
        &-image {
          display: none;
        }

        &-title {
          display: none;
        }

        &-info {
          display: flex;
          justify-content: space-between;
          align-items: flex-end;

          &-views {
            font-size: 0.75rem;
          }
        }
      }

      &.primary {
        grid-column: span 2;
        grid-row: 1 / span 2;

        .main-item-title {
          display: block;
          font-size: 1.5rem;
          font-weight: bold;
        }
      }
    }
  }

  main-section-plus {
    background: none;
    border: solid 2px var(--primary-color);
    color: var(--primary-color);

    .main-item {
      &.create {
        justify-content: center;
        align-items: center;
        display: flex;
      }
    }

    .create-inner {
      display: flex;
      width: 85%;
      gap: 10px;
      align-items: center;

      &-icon {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 35px;
        height: 35px;
        min-width: 35px;
        border: solid 3px var(--primary-color);
        border-radius: 50%;
      }
    }
  }
}
