.sidebar-section {
  margin-bottom: 3rem;
  padding-bottom: 1rem;
  border-bottom: solid 1px var(--primary-color);

  &-header {
    display: flex;
    align-items: flex-end;
    color: var(--primary-color);
    justify-content: space-between;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
    border-bottom: solid 2px var(--primary-color);

    .header {
      &-title {
        font-size: 1.5rem;
        line-height: 1.5rem;
      }

      &-link {
        font-size: 0.85rem;
      }
    }
  }

  &-main {
    position: relative;

    .scroll-state {
      background-color: var(--dark-color);
      width: 40px;
      height: 40px;
      text-align: right;
      padding-right: 5px;
      position: absolute;
      top: 0;
      right: -1px;
      color: var(--primary-color)
      clip-path: polygon(100% 0, 0 0, 100% 100%);
    }
  }

  main-wrapper {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    width: 100%;

    &.scrollable {
      height: calc((100px * 5) + 5rem);
      min-height: calc((100px * 5) + 5rem);
      max-height: calc((100px * 5) + 5rem);
      overflow-y: scroll;
      position: relative;
      gap: 5px;
    }
  }
}
