.sidebar-section {
  &-header {
    display: flex;
    align-items: flex-end;
    color: var(--primary-color);
    justify-content: space-between;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
    border-bottom: solid 2px var(--primary-color);

    .header {
      &-title {
        font-size: 1.5rem;
        line-height: 1.5rem;
      }

      &-link {
        font-size: 0.85rem;
      }
    }
  }

  main-wrapper {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    width: 100%;
    border-bottom: solid 1px var(--primary-color);
    padding-bottom: 1rem;
  }
}
