<div class="main-wrapper">
  <!-- Main Content -->
  <div class="main-wrapper-content">
    <!-- Videos -->
    <main-section title="Videos">
      <section-link>
        <div class="header-link">
          <a routerLinkActive="active" routerLink="/video">Browse all videos</a>
        </div>
      </section-link>

      <main-wrapper>
        <ng-container *ngIf="videos$ | async as videos;">
          <main-item
            *ngFor="let video of videos$ | async; let i = index"
            [ngClass]="i === 0 ? 'primary' : ''"
            [primary]="video.primary"
            [secondary]="video.secondary"
            [tertiary]="video.views"
            type="video"
          >
          </main-item>
        </ng-container>

        <main-section-plus title=" Upload Your Own Video" icon="arrowUp">
        </main-section-plus>
      </main-wrapper>
    </main-section>

    <!-- People -->
    <main-section title="People">
      <section-link>
        <div class="header-link">
          <a routerLinkActive="active" routerLink="/people">View All</a>
        </div>
      </section-link>

      <main-wrapper>
        <ng-container *ngIf="peoples$ | async as peoples;">
          <main-item
            *ngFor="let people of peoples$ | async; let i = index"
            [ngClass]="i === 0 ? 'primary' : ''"
            [primary]="people.primary"
            [secondary]="people.secondary"
            type="people"
          >
          </main-item>
        </ng-container>

        <main-section-plus
          title="Show Your Work"
          icon="dotCircle"
        ></main-section-plus>
      </main-wrapper>
    </main-section>

    <!-- Documents -->
    <main-section title="Document">
      <section-link>
        <div class="header-link">
          <a routerLinkActive="active" routerLink="/document"
            >Browse all documents</a
          >
        </div>
      </section-link>

      <main-wrapper>
        <ng-container *ngIf="documents$ | async as documents;">
          <main-item
            *ngFor="let document of documents$ | async; let i = index"
            [ngClass]="i === 0 ? 'primary' : ''"
            [primary]="document.primary"
            [secondary]="document.primary"
            type="document"
          >
          </main-item>
        </ng-container>

        <main-section-plus
          title="Share Your Document"
          icon="plus"
        ></main-section-plus>
      </main-wrapper>
    </main-section>
  </div>

  <!-- Sidebar Content -->
  <div class="main-wrapper-sidebar">
    <!-- Activity -->
    <sidebar-section title="Activity">
      <header-link>
        <div class="header-link">View timeline / Filter Activities</div>
      </header-link>

      <main-wrapper>
        <activity-item *ngFor="let activity of [0,1,2,3,4,5]"></activity-item>
      </main-wrapper>
    </sidebar-section>

    <!-- Channels -->
    <sidebar-section title="Channels" [scrolled]="scrolled">
      <header-link>
        <div class="header-link">Browse all channels</div>
      </header-link>

      <main-wrapper class="scrollable" (scroll)="onScroll($event)">
        <channel-item
          *ngFor="let activity of [0,1,2,3,4,5,6,7,8,9,10,11,12,13,14]"
        ></channel-item>
      </main-wrapper>
    </sidebar-section>
  </div>
</div>
