<div class="main-wrapper">
  <div class="main-wrapper-content">
    <main-section title="Videos" [data]="videos$">
      <section-link>
        <div class="header-link">
          <a routerLinkActive="active" routerLink="/video">Browse all videos</a>
        </div>
      </section-link>
      <section-plus>
        <main-section-plus title="Upload Your Own Video" icon="arrowUp"></main-section-plus>
      </section-plus>
    </main-section>

    <main-section title="People">
      <section-link>
        <div class="header-link">
          <a routerLinkActive="active" routerLink="/people">View all</a>
        </div>
      </section-link>
      <section-plus>
        <main-section-plus title="Show Your Work" icon="dotCircle"></main-section-plus>
      </section-plus>
    </main-section>

    <main-section title="Document">
      <section-link>
        <div class="header-link">
          <a routerLinkActive="active" routerLink="/document">Browse all documents</a>
        </div>
      </section-link>

      <section-plus>
        <main-section-plus title="Share Your Document" icon="plus"></main-section-plus>
      </section-plus>
    </main-section>
  </div>

  <div class="main-wrapper-sidebar">
    <sidebar-section title="Activity">
      <header-link>
        <div class="header-link">View timeline / Filter Activities</div>
      </header-link>

      <main-wrapper>
        <activity-item *ngFor="let activity of [0,1,2,3,4,5]"></activity-item>
      </main-wrapper>
    </sidebar-section>
  </div>
</div>