<nav>
  <ul>
    <!-- <li>
      <a routerLinkActive="active" routerLink="/home">Home</a>
    </li> -->
    <li>
      <a routerLinkActive="active" routerLink="/video">Videos</a>
    </li>
    <li>
      <a routerLinkActive="active" routerLink="/people">People</a>
    </li>
    <li>
      <a routerLinkActive="active" routerLink="/document">Documents</a>
    </li>
    <li>
      <a routerLinkActive="active" routerLink="/event">Events</a>
    </li>
    <li>
      <a routerLinkActive="active" routerLink="/community">Communities</a>
    </li>
    <li>
      <a routerLinkActive="active" routerLink="/favorite">Favorites</a>
    </li>
    <li>
      <a routerLinkActive="active" routerLink="/channel">Channels</a>
    </li>
  </ul>
</nav>