<section class="content-section">
  <div class="content-section-header">
    <div class="header-content">{{ title }}</div>

    <ng-content select="section-link"></ng-content>
  </div>
  <div class="content-section-main">
    <div class="main-item" *ngFor="let video of data">
      <div class="main-item-image">
        <img src="lohee" alt="video-thumbnail">
      </div>
      <div class="main-item-title">How to improve your skills</div>
      <div class="main-item-info">
        <div class="main-item-info-author">Waseem Arshad</div>
        <div class="main-item-info-views">187887 views</div>
      </div>
    </div>
    <div class="main-item">
      <div class="main-item-image">
        <img src="lohee" alt="video-thumbnail">
      </div>
      <div class="main-item-title">How to improve your skills</div>
      <div class="main-item-info">
        <div class="main-item-info-author">Waseem Arshad</div>
        <div class="main-item-info-views">187887 views</div>
      </div>
    </div>
    <div class="main-item">
      <div class="main-item-image">
        <img src="lohee" alt="video-thumbnail">
      </div>
      <div class="main-item-title">How to improve your skills</div>
      <div class="main-item-info">
        <div class="main-item-info-author">Waseem Arshad</div>
        <div class="main-item-info-views">187887 views</div>
      </div>
    </div>
    <div class="main-item">
      <div class="main-item-image">
        <img src="lohee" alt="video-thumbnail">
      </div>
      <div class="main-item-title">How to improve your skills</div>
      <div class="main-item-info">
        <div class="main-item-info-author">Waseem Arshad</div>
        <div class="main-item-info-views">187887 views</div>
      </div>
    </div>
    <div class="main-item">
      <div class="main-item-image">
        <img src="lohee" alt="video-thumbnail">
      </div>
      <div class="main-item-title">How to improve your skills</div>
      <div class="main-item-info">
        <div class="main-item-info-author">Waseem Arshad</div>
        <div class="main-item-info-views">187887 views</div>
      </div>
    </div>

    <ng-content select="section-plus"></ng-content>
  </div>
</section>